crewai
crewai[tools]
streamlit
python-dotenv
beautifulsoup4
requests
lxml
chromadb
langchain-community
ollama
sentence-transformers
InstructorEmbedding
pymupdf
playwright
langchain_experimental
tiktoken
numpy
pandas
fitz